<ion-header>
  <ion-toolbar>
    <ion-title class="ion-poke-logo"  >
      Streets of Soba
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="items-page"> 
  <ion-row class="product-details-header">
    <ion-col size="2">
    
        <img src="../../assets/img/poke-theory-black-logo.png" style="padding: 5px;">
     
    </ion-col>
    <ion-col size="6" style="padding-left: 20px;">
      <h3>*1FOR1* Soba Bowl</h3>
      <p>Valid till 4 April 2022</p>
    </ion-col>
    <ion-col size="4">
      <h2 (click)="couponAdd()" style="text-align: right;margin-top: -8px;padding: 0;">Apply</h2> 
     
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col size="12">
      <ion-title class="ion-logo">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-title>
    </ion-col>
   </ion-row> -->
 
</ion-content>
<ion-footer class="ion-no-border product_footer ">
  <ion-row>
    <ion-col size="12">
      <ion-button color="medium" expand="full" (click)="back()">Back</ion-button>
    </ion-col>
  
  </ion-row>
</ion-footer>