<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-logo">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="order-success">
    <ion-col size="12">
      <ion-text color="light">
        <h2>Thank YOU!</h2>
      </ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-text color="light">
        <h3 class="dini-location">Your order number is <span>123</span></h3>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
