.ion-logo{
    margin-top: 40px;
} 
h3.dini-location {
    text-align: center;
    font-size: 60px;
    font-weight: 600; 
}
h3.dini-location span{
    display: block;
    margin-top: 30px;
    font-size: 80px;
}
.order-success h2{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin-top:120px;
    margin-bottom: 50px;
    color: #fac93c;
    text-transform: uppercase;
}