.print-out {
    background: #fff !important;
    min-height: 100%;
    color: #000;
    padding: 50px;
    font-weight: 600;
    border: 3px solid #181818;
}
.category_sec {
    margin-bottom: 30px;
}
.category_sec h3 {
    margin: 0 0 5px 0 ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
.category_head_sec h2 {
    margin: 0; 
    font-weight: 600;
    font-size: 24px;
}
.category_sec h1 {
    margin: 0; 
    font-weight: 600;
    font-size: 30px;
}
.category_sec p{
    margin: 0 0 5px 0 ; 
    font-weight: 600;
    font-size: 20px;
}
.category_head_sec {
    border-bottom: 1px #000 dashed;
    border-top: 1px dashed #000;
    margin-bottom: 30px;
}
.category_tot_sec {
    border-bottom: 1px #000 dashed;
    border-top: 1px dashed #000;
    margin-bottom: 30px;
}
.category_tot_sec h1 {
    margin: 0; 
    font-weight: 600;
    font-size: 30px;
    padding: 15px 0;
}
.logo_wrap img{
    height: 170px;
}