<ion-content >
  <div class="print-out">
    <div class="category_sec logo_wrap">
      <ion-row class="ion-text-center">
        <ion-col size="12"><img src="../../assets/img/print-logo.png" /></ion-col> 
        <ion-col size="12"><h1>Poke Theory</h1></ion-col> 
        <ion-col size="12">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>*Please make the payment at the counter*</p>
        </ion-col> 
      </ion-row> 
    </div>
    <div class="category_head_sec">
      <ion-col size="12"><h2>Dine In</h2></ion-col> 
    </div>
    <div class="category_sec">
      <ion-row> 
        <ion-col size="9"><h3>2 x O.G. Salmon</h3></ion-col>
        <ion-col size="3" class="ion-text-end"><h3>25.80</h3></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>2 x O.G. Salmon</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p>25.80</p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>2 x O.G. Salmon</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p>25.80</p></ion-col>
      </ion-row>
    </div>
    <div class="category_sec">
      <ion-row> 
        <ion-col size="9"><h3>Green Tea</h3></ion-col>
        <ion-col size="3" class="ion-text-end"><h3>3.00</h3></ion-col>
      </ion-row> 
    </div>
    <div class="category_sec">
      <ion-row> 
        <ion-col size="9"><h3>The Original Ganador</h3></ion-col>
        <ion-col size="3" class="ion-text-end"><h3>25.80</h3></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>2 x O.G. Salmon</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p>25.80</p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>2 x O.G. Salmon</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p>25.80</p></ion-col>
      </ion-row>
    </div>
    <div class="category_sec">
      <ion-row> 
        <ion-col size="9"><h3>BYO Poke Bowls</h3></ion-col>
        <ion-col size="3" class="ion-text-end"><h3>25.80</h3></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Large</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p>+5.09</p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="9"><p>1 x Signature Sushi Rice</p></ion-col>
        <ion-col size="3" class="ion-text-end"><p> </p></ion-col>
      </ion-row>
    </div>
    <div class="category_tot_sec ">
      <ion-row> 
        <ion-col size="9"><h1>Total</h1></ion-col>
        <ion-col size="3" class="ion-text-end"><h1>69.60</h1></ion-col>
      </ion-row> 
    </div>
    <div class="category_sec">
      <ion-row> 
        <ion-col size="12"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></ion-col> 
      </ion-row> 
    </div>
  </div> 
</ion-content>
