<ion-header>
  <ion-toolbar>
      <ion-title class="ion-poke-logo">
      <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content > 
  <ion-row class="product-details-header">
    <ion-col size="12">
      <h3 class="ion-text-center">Order List</h3>  
    </ion-col> 
  </ion-row>
  <ion-row class="count-prod separator">
    <ion-col size="6"> 
        <h1>Coldpressed Juice
        (Crimson Sunrise)</h1>
        <h2>$12.90</h2> 
    </ion-col> 
    <ion-col size="6"> 
        <ion-item no-lines>
            <button ion-button>-</button>
            <ion-input type="number" text-center value="1" min="1" max="9"></ion-input>                   
            <button ion-button>+</button>
          </ion-item> 
    </ion-col>
    <ion-col size="6"><ion-button color="light" fill="outline"  class="remove" expand="block" >Remove</ion-button></ion-col>
    <ion-col size="6"><ion-button color="primary" class="view" expand="block" >View/Edit</ion-button> </ion-col>
  </ion-row>
  <ion-row class="count-prod separator">
    <ion-col size="6"> 
        <h1>BYO Poke Bowl</h1>
        <h2>$12.90</h2>
    </ion-col> 
    <ion-col size="6"> 
        <ion-item no-lines>
            <button ion-button>-</button>
            <ion-input type="number" text-center value="1" min="1" max="9"></ion-input>                   
            <button ion-button>+</button>
          </ion-item>
    </ion-col>
    <ion-col size="6"><ion-button color="light" fill="outline"  class="remove" expand="block" >Remove</ion-button></ion-col>
    <ion-col size="6"><ion-button color="primary" class="view" expand="block" >View/Edit</ion-button> </ion-col>
  </ion-row>
  <ion-row class="count-prod separator">
    <ion-col size="6"> 
        <h1>O. G. Salmon</h1>
        <h2>$12.90</h2>
    </ion-col> 
    <ion-col size="6"> 
        <ion-item no-lines>
            <button ion-button>-</button>
            <ion-input type="number" text-center value="1" min="1" max="9"></ion-input>                   
            <button ion-button>+</button>
          </ion-item>
    </ion-col>
    <ion-col size="6"><ion-button color="light" fill="outline"  class="remove" expand="block" >Remove</ion-button></ion-col>
    <ion-col size="6"><ion-button color="primary" class="view" expand="block" >View/Edit</ion-button> </ion-col>
  </ion-row>
  <ion-row class="count-prod separator">
    <ion-col size="6"> 
        <h1>Coldpressed </h1>
        <h2>$12.90</h2>
    </ion-col> 
    <ion-col size="6"> 
        <ion-item no-lines>
            <button ion-button>-</button>
            <ion-input type="number" text-center value="1" min="1" max="9"></ion-input>                   
            <button ion-button>+</button>
          </ion-item>
    </ion-col> 
    <ion-col size="6"><ion-button color="light" fill="outline"  class="remove" expand="block" >Remove</ion-button></ion-col>
    <ion-col size="6"><ion-button color="primary" class="view" expand="block" >View/Edit</ion-button> </ion-col>
  </ion-row>
  <ion-row class="count-prod">
    <ion-col size="6"> 
        <h1>O. G. Salmon</h1>
        <h2>$12.90</h2>
    </ion-col> 
    <ion-col size="6"> 
        <ion-item no-lines>
            <button ion-button>-</button>
            <ion-input type="number" text-center value="1" min="1" max="9"></ion-input>                   
            <button ion-button>+</button>
          </ion-item>
    </ion-col> 
    <ion-col size="6"><ion-button color="light" fill="outline"  class="remove" expand="block" >Remove</ion-button></ion-col>
    <ion-col size="6"><ion-button color="primary" class="view" expand="block" >View/Edit</ion-button> </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border product_footer ">
  <ion-row class="data-footer"> 
    <ion-col size="12">
      <h1 class="ion-text-center">Total <strong>$25.80</strong></h1>
    </ion-col> 
  </ion-row> 
    <ion-row>
      <ion-col size="6">
        <ion-button color="medium" expand="full" >Back</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" expand="full" >Checkout</ion-button>
      </ion-col>
    </ion-row> 
</ion-footer>