<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-logo">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col size="12">
      <ion-text color="light">
        <h3 class="dini-location">Payment Type</h3>
      </ion-text>
    </ion-col>
    <ion-col size="6">
      <ion-card  class="eatin-card" routerLink="/order-success">
        <img src="../../assets/img/cash.png" />
        <ion-card-header>
          <ion-card-title>Cash</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    
    <ion-col size="6">
      <ion-card class="takeout-card">
        <img src="../../assets/img/card.png" />
        <ion-card-header>
          <ion-card-title>Debit/Credit</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
