// ion-content.background{
//     --background:#000 url(../../assets/img/bg.svg) no-repeat center top / cover;
//     background-size:cover;
// }
ion-button.start {
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 700;
    height: 160px;
    margin: 0;
    letter-spacing: normal;
}
h1 {
    margin-top: 80px;
    font-size: 50px;
    font-weight: 600;
}
